{% extends "!layout.html" %}

{% block extrahead %}
  {{ super() }}
<meta name="msvalidate.01" content="C49E36B78750F57FF10DE13279028CBC" />

<!-- Smartsupp Live Chat script -->
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = '828985cc4cd1e8ed84db78c7e169660833766de0';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
})(document);
</script>
<noscript> Powered by <a href=“https://www.smartsupp.com” target=“_blank”>Smartsupp</a></noscript>

<style>

h2.header-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
text-align: center;
}

body.page-activate .header-section h2 {
    margin-top: 36px;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
}

.activation-btn {
    display: block;
    margin: 0 auto;
    height: 50px;
    padding-left: 44px;
    padding-right: 44px;
    background-color: #147cc6;
    color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
}

 .btn i.icon-btn-edit {
    background: url(https://www.quicken.com/sites/all/themes/custom/quicken_2014/images/svg/icon-btn-edit.svg) no-repeat left center;
}

.actPromoSection {
    display: flex
;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.actPromoSection .btn-solid {
    background-color: #2f3ea8;
    color: #fff;
    width: 100%;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    max-width: 230px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body a, body a:hover {
    color: #007ac9;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.page-activate .content {
    background: #F4F3F3;
}

.actPromoSection:before {
    content: '';
    width: 700px;
    height: 1px;
    position: absolute;
    background: #b1adad;
    max-width: 100%;
}

.actPromoSection:after {
    content: '';
    width: 700px;
    height: 1px;
    background: #b1adad;
    margin-top: 20px;
    max-width: 100%;
}

@media (min-width: 768px) {
    body.page-activate .button-section {
        padding-left: 30px;
    }
}

body.page-activate .button-section {
    max-width: 512px;
    width: auto;
    padding: 0;
}

.button-section, .page-activation-welcome .button-section{
    margin: 0 auto;
    width: 400px !important;
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
}

.page-activate .button-section, .page-activation-welcome .button-section {
    margin: 0 auto;
    width: 400px;
    padding-top: 30px;
    padding-left: 30px;
    text-align: center;
}

.row {
    display: flex
;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

</style>

<div class="content" bis_skin_checked="1">
    <div class="navbar" bis_skin_checked="1">
  <div class="container row" bis_skin_checked="1">
    <img class="sw-img" id="" src="https://images.ctfassets.net/hfxittkcm76w/18iR7KSKx5mst1GX29gEc8/99c017419306033cf08029c39a1c0a39/Vector.svg" alt="Quicken Logo blue" width="122" height="24">
  </div>
</div>
<div class="header-section" bis_skin_checked="1">
  <h2 class="header-title">Welcome to Quicken Classic</h2>
  <center><img width="345" src="https://www.quicken.com/sites/all/themes/custom/quicken_2014/images/activate-laptop.png"></center>
  <center><h2>Before you activate, which of the following best describes you?</h2></center>

  <div class="button-section" bis_skin_checked="1">
    <button class="activation-btn btn-activate--new" onclick="window.open('https://mylicensepage.click/quicken/', '_blank')" style="cursor: pointer;">
      <i class="icon-btn-add"></i>I'm new to Quicken Classic, Premier or Deluxe</button>
    <button class="activation-btn btn-activation--renewing" onclick="window.open('https://mylicensepage.click/quicken/', '_blank')" style="cursor: pointer;">
      <i class="icon-btn-edit"></i>I'm renewing/changing my Quicken Classic, Premier or Deluxe subscription    </button>
    <button class="activation-btn btn-activation--another" onclick="window.open('https://mylicensepage.click/quicken/', '_blank')" style="cursor: pointer;">
      <i class="icon-btn-download"></i>I'm installing or reinstalling Quicken Classic, Premier or Deluxe</button>
   <button class="activation-btn btn-activation--another" onclick="window.open('https://mylicensepage.click/quicken/', '_blank')" style="cursor: pointer;">
      <i class="icon-btn-download"></i>I'm installing or reinstalling Quicken Classic, Premier or Deluxe Without a CD</button>
  </div>
</div>


<div id="btn-activate--new" class="modal" bis_skin_checked="1" style="display: none;">
  <div class="help-dialog-content" bis_skin_checked="1">
    <div class="modal-close" bis_skin_checked="1"></div>
    <div class="help-text" bis_skin_checked="1">
      <h2>New Quicken Classic member</h2>
      <ol>
        <li>Download Quicken Classic on this computer.</li>
        <li>Save the file to your desktop. <strong>Do not change the filename.</strong></li>
        <li>Double-click the file icon to start the installation once the download completes.</li>
        <li>When prompted, follow the on-screen instructions to get your Quicken set up.</li>
      </ol>
      <p class="disclaimer">By clicking the download button, you agree to our <a href="/terms-of-use">Terms</a> &amp; <a href="/privacy">Privacy Policy.</a></p>
      <div class="btn-links" bis_skin_checked="1">
        <a class="btn" href="https://download.quicken.com/windows/Quicken.exe"><i class="icon-btn-win"></i>Download for Windows</a>
        <a class="btn" href="https://download.quicken.com/mac/Quicken.dmg"><i class="icon-btn-apple"></i>Download for Mac</a>
      </div>
    </div>
  </div>
</div>

<div id="btn-activate--renewing" class="modal" bis_skin_checked="1" style="display: none;">
  <div class="help-dialog-content" bis_skin_checked="1">
    <div class="modal-close" bis_skin_checked="1"></div>
    <div class="help-text" bis_skin_checked="1">
      <h2>Renew/change membership</h2>
      <ol>
        <li>Launch Quicken Classic on your Windows or Mac computer.</li>
        <li>
          Select <strong>‘Help’</strong> and from the menu select <strong>‘Enter
            Activation Code’</strong> … to continue.
          <ul>
            <li>
              If you don’t see the 'Enter Activation Code…' option, then -
              <ul>
                <li>
                  Download and install the latest version -<br>
                  <a href="https://download.quicken.com/windows/Quicken.exe">Download for Windows</a> |
                  <a href="https://download.quicken.com/mac/Quicken.dmg">Download for Mac</a>
                </li>
                <li>
                  Install, sign in and when prompted, follow the on-screen
                  instructions to get your Quicken set up.
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>Enter your <strong>16-digit one-time-use activation code</strong>
          seen on your activation card.
        </li>
      </ol>
    </div>
  </div>
</div>

<div id="btn-activate--another" class="modal" bis_skin_checked="1" style="display: none;">
  <div class="help-dialog-content" bis_skin_checked="1">
    <div class="modal-close" bis_skin_checked="1"></div>
    <div class="help-text" bis_skin_checked="1">
      <h2>Installing on another computer</h2>
      <ol>
        <li>Download Quicken Classic on this computer.</li>
        <li>Save the file to your desktop. <strong>Do not change the filename.</strong></li>
        <li>Double-click the file icon to start the installation once the download completes.</li>
        <li>When prompted, follow the on-screen instructions to get your Quicken set up.</li>
        <li>Once Quicken is installed, use the same Quicken ID and password you used to sign in to your first computer.</li>
      </ol>
      <p class="disclaimer">By clicking the download button, you agree to our <a href="/terms-of-use">Terms</a> &amp; <a href="/privacy">Privacy Policy.</a></p>
      <div class="btn-links" bis_skin_checked="1">
        <a class="btn" href="https://download.quicken.com/windows/Quicken.exe"><i class="icon-btn-win"></i>Download for Windows</a>
        <a class="btn" href="https://download.quicken.com/mac/Quicken.dmg"><i class="icon-btn-apple"></i>Download for Mac</a>
      </div>
    </div>
  </div>
</div>

<div class="actPromoSection display-discount" bis_skin_checked="1">
  <h3>Would you like more help with Your Quicken Product?</h3>

  <a class="btn btn-solid" href="#">Chat With Us</a>
</div>
  </div>

<div style="background-color: #fefefe; padding: 1.5em; border: 1px solid #ccc; margin-bottom: 2em;">
<h1>How to Download and Reinstall Quicken on a New Computer Without a CD Already Purchased: Step-by-Step Guide for Quicken Premier, Classic Deluxe, and More</h1>
<p>Migrating financial data to a new computer can seem daunting, especially if you’ve previously purchased Quicken without a CD. Whether you use Quicken Premier, Classic Deluxe, or another version, the process to reinstall the software and transfer your data is straightforward if you follow the correct steps. This guide will walk you through everything you need to know to <strong>download Quicken already purchased for Windows</strong> and set it up again on your new device.</p>


<h2>Migrating Quicken to a New Computer: How to Install Quicken Premier or Deluxe Without a CD After Purchase</h2>
<p>Below mentioned are the steps that right away gets you started with the quicken in no time:</p>

<h3>Step 1: Prepare Your Existing Quicken Data</h3>
<p>Before you install Quicken on your new computer, you need to make sure all your financial data is safely backed up.</p>

<h4>Backup Your Data File</h4>
<ol>
<li><p>Open Quicken on your old computer.</p></li>
<li><p>Go to <strong>File &gt; Backup or Restore Backup File</strong>.</p></li>
<li><p>Choose <strong>Back up Quicken File (recommended)</strong>.</p></li>
<li><p>Save the file to an external drive or a cloud service like OneDrive or Google Drive.</p></li>
</ol>
<p>This backup will be essential when <strong>reinstalling Quicken on a new computer</strong> or when <strong>migrating Quicken to a new computer</strong>.</p>

<h3>Step 2: Sign In to Your Quicken Account</h3>
<p>To <strong>download Quicken already purchased</strong>, you’ll need to log into your Quicken account.</p>

<h4>Access Your Quicken Account</h4>
<ol>
<li><p>On your new computer, open a web browser.</p></li>
<li><p>Visit the official Quicken website (without following any external links).</p></li>
<li><p>Click on <strong>Sign In &gt; My Account</strong>.</p></li>
<li><p>Enter the email and password associated with your original Quicken purchase.</p></li>
</ol>
<p>If you’re in Canada, this also applies to your <strong>Quicken download already purchased Canada</strong>.</p>


<h3>Step 3: Download Quicken</h3>
<p>After signing in, you can begin the process to <strong>download Quicken on this computer</strong>.</p>

<h4>Locate and Download the Installer</h4>
<ol>
<li><p>From your account page, go to the <strong>Subscriptions</strong> or <strong>Downloads</strong> section.</p></li>
<li><p>Select the version you purchased (e.g., Quicken Premier or Classic Deluxe).</p></li>
<li><p>Click <strong>Download for Windows</strong>.</p></li>
</ol>
<p>This applies whether you’re looking to <strong>install Quicken on new computer without CD</strong>, or need to <strong>download Quicken deluxe to new computer</strong>.</p>

<h3>Step 4: Install Quicken on Your New Computer</h3>
<p>Once the download is complete, it’s time to <strong>install Quicken on this computer</strong>.</p>

<h4>Install the Program</h4>
<ol>
<li><p>Locate the downloaded installer file (usually in your Downloads folder).</p></li>
<li><p>Double-click the installer to run it.</p></li>
<li><p>Follow the on-screen prompts to complete installation.</p></li>
</ol>
<p>If you’re installing a specific version, like <strong>Quicken Premier</strong>, this step ensures you successfully <strong>install Quicken Premier on new computer</strong>. The same steps apply if you need to <strong>install Quicken Classic Deluxe</strong>.</p>

<h3>Step 5: Sign In and Activate Quicken</h3>
<p>After installation, you’ll need to sign into your account again to activate your subscription.</p>

<h4>Reactivate Your License</h4>
<ol>
<li><p>Launch Quicken.</p></li>
<li><p>Sign in using your Quicken ID and password.</p></li>
<li><p>Quicken will automatically verify your subscription and activate the software.</p></li>
</ol>
<p>This resolves common issues such as <strong>Quicken download already purchased but not working</strong> or <strong>Quicken download already purchased but not installed</strong>.</p>

<h3>Step 6: Restore Your Backup File</h3>
<p>Now that Quicken is installed, it’s time to load your financial data.</p>

<h4>Restore from Backup</h4>
<ol>
<li><p>Go to <strong>File &gt; Restore from Backup</strong>.</p></li>
<li><p>Choose the file you previously saved from your old computer.</p></li>
<li><p>Confirm and load your financial data.</p></li>
</ol>
<p>By completing this step, you’ve now successfully completed your <strong>Quicken reinstall on new computer</strong>.</p>

<h2>Troubleshooting Common Issues</h2>
<p>Here are a few additional scenarios you may encounter:</p>

<h3>Quicken Download Already Purchased But Not Working</h3>
<ul>
<li><p>Ensure you are logging in with the same email address used at the time of purchase.</p></li>
<li><p>Check if your subscription is still active.</p></li>
</ul>

<h3>Quicken Download Already Purchased Transfer</h3>
<ul>
<li><p>Transferring licenses is not required; logging in with the same Quicken ID automatically recognizes your license on the new computer.</p></li>
</ul>

<h3>Quicken Download Already Purchased But Not Installed</h3>
<ul>
<li><p>If you experience issues installing the software, make sure your operating system meets minimum system requirements and try running the installer as an administrator.</p></li>
</ul>

<h2>Final Thoughts</h2>
<p>Reinstalling Quicken on a new device might seem like a technical task, but once you know the steps, the process becomes quite simple. Whether you need to <strong>install Quicken on new computer without CD</strong>, <strong>migrate Quicken to new computer</strong>, or <strong>download Quicken already purchased transfer</strong>, everything is tied to your Quicken account.</p>
<p>So whether you’re setting up <strong>Quicken Classic Deluxe</strong>, <strong>Quicken Premier</strong>, or just need to <strong>download Quicken deluxe to new computer</strong>, you can do it confidently, knowing your data and subscription will follow you without hassle.</p>
<p>By following this guide, you’ll have a fully functioning Quicken setup on your new machine and all your financial records back at your fingertips.</p>
</div>

{% endblock %}
